/*-----------------------------------
  General Styles
-----------------------------------*/

body{
  font-size : 14px;
  background-color: #f2f6f9;
}

ul{
  list-style-type: none;
}

a:hover {
  text-decoration:none;
}

hr{
	width:300px;
	border:#px solid #434444;
}


/*-----------------------------------
  Navbar 
-----------------------------------*/

.minicart{
  background:url(../images/sprite.png);
  background-position: -156px 11px;
  background-repeat:no-repeat;
  width: 40px;
  height: 50px;
  padding-right: 32px;
}

.navbar{
  background-color: #4ea6bc;
  padding: 15px ;
  border-radius: 0;
  margin: 0;
}

.navbar-brand{
  color: #fff;
  font-family: Open Sans, sans-serif;
  padding-left: 32px;
}

.navbar-brand:hover{
  color: #fff;
}
/*-----------------------------------
  Main Page
  Product Grid
-----------------------------------*/
.product-grid{
	padding:20px 20px;
}
.product-grid:hover{
	box-shadow:0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px rgba(0,0,0,0.19);
}
.image{
	position:relative;
}
.overlay {
	position:absolute;
	top:0;
	bottom: 0;
	left: 0;
	right:0;
	height:100%;
	width:100%;
	opacity: 0;
	transition:.5s ease;
	background-color:rgba(67,68,68,0.7);
}
.image:hover .overlay{
	opacity: 1;
}
.detail{
	color:#fff;
	font-size:20px;
	position: absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
}

.buy {
	background-color:transparent;
	color:#434444;
	border-radius:0;
	border:1px solid #434444;
	width:100%;
	margin-top:20px;
}
.buy:hover{
	background-color:#434444;
	color:#fff;
}



/*-----------------------------------
  Single Product Page
-----------------------------------*/

.col-lg-8 { 
  padding:20px;
  margin-left:10px;
 }