
/*---------------------------------
  STYLE.CSS Contents
  0. General Styles
  1.  Navbar
  2.  Main Bar
  3.  Jumbotron
  4.  Notification Top bar
  5.  Main Page - Product Grid
  6.  Single Product Page
  7.  Shopping Cart Section
  8.  Order Confirmation Page
  9.  Footer
  10. Media Queries
  11. Animation
----------------------------------*/


/*-----------------------------------
  General Styles
-----------------------------------*/
* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family:'Josefin Sans';
  color:#123c69;
}


hr{
	width:300px;
	border:#px solid #434444;
}


/*-----------------------------------
  Navbar 
-----------------------------------*/

.minicart{
  background:url(../images/cart.png);
  background-repeat:no-repeat;
  width: 40px;
  height: 50px;
  padding-right: 32px;
  margin-top:22px;
}

.navbar{
  background-color: #e3e2df;
  padding: 15px ;
  border-radius: 0;
  margin: 0;
}

.navbar-brand{
  color: #123c69;
  font-family: Open Sans, sans-serif;
  padding-left: 32px;
}


/*-----------------------------------
           Main Bar
-----------------------------------*/
.main-bar {
  padding: 20px 0;
  background: -moz-linear-gradient(left, #e3e2df 0%, #ADACB1 100%);  
  background: -webkit-linear-gradient(left, #e3e2df 0%,#ADACB1 100%);  
  background: linear-gradient(to right, #e3e2df 0%,#ADACB1 100%);  
  filter: progid:DXImageTransform.Microsoft.gradient;
}

.main-bar p {
    margin:0;
    color: #123c69;
}
.icon {
    background-repeat: no-repeat;
    background-position: left center;
    padding-left:60px;
    background-size: 30px;
    margin-bottom: 2  0px;
    text-align: center;   
    color:#9a1750;
    font-family:'Raleway';
}

/*-----------------------------------
           Jumbotron
-----------------------------------*/
.jumbotron{
  margin-bottom:0;
  background-image:url(../images/hero3.jpg);
  height:360px;
  background-size:cover;
  background-position:center;
  color:#fff;
}
.display-4{
  margin-top:40px;
}
.lead {
  color:#fafafa;
}
.icon2 {
  margin-top:10px;
}

.header{
  margin-top:20px;

}
/*-----------------------------------
  Notification Top Bar
-----------------------------------*/

.notification{
  position:absolute;
  background-color:red;
  z-index:101;
  top:0;
  left:0;
  right:0;
  color:#fff;
  text-align: center;
  line-height: 2.5;
  overflow:hidden;
  -webkit-box-shadow: 0 0 5px black;
  -moz-box-shadow:    0 0 5px black;
  box-shadow:         0 0 5px black;
  transform: translateY(-50px);
  animation-duration: 1.8s;
  animation-timing-function: 1.0s;
  animation-fill-mode:forwards;
}

#added {
  background-color:green;
}
/*-----------------------------------
        Main Page
        Product Grid
-----------------------------------*/

.product-grid{
	padding:20px 20px;
  margin-bottom:10px;

}
.product-grid:hover{
	box-shadow:0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px rgba(0,0,0,0.19);
}

.image{
	position:relative;
}
.gridImg{
  max-height:219px;
}

.overlay {
	position:absolute;
	top:0;
	bottom: 0;
	left: 0;
	right:0;
	height:100%;
	width:100%;
	opacity: 0;
	transition:.5s ease;
	background-color:rgba(186, 178, 181, 0.7)
}
.image:hover .overlay{
	opacity: 1;
}
.detail{
	color:#fff;
  padding:5px;

	font-size:20px;
	position: absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
}

.buy {
	background-color:transparent;
	color:#434444;
	border-radius:0;
	border:1px solid #434444;
	width:auto;
	margin-top:20px;
}
.buy:hover{
	background-color:#434444;
	color:#fff;
}
.info-card {
  vertical-align: baseline;
}
.stars {
  margin-top:10px;
}
.info-card h6 {
    margin-top:10px;
    display:inline;
    float:right;
    color:#123c69;

}
h5 {
  text-align:   center;
  margin-top:25px;
  color:#123c69
}

/*-----------------------------------
  Single Product Page
-----------------------------------*/

.product_row {
  width:100%;  
}
.info{
  box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
  background: -moz-linear-gradient(left, #ffffff 0%, #ADACB1 100%);  FF3.6-15 
  background: -webkit-linear-gradient(left, #ffffff 0%,#ADACB1 100%);  Chrome10-25,Safari5.1-6 
  background: linear-gradient(to right, #ffffff 0%,#ADACB1 100%);  W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#741d51', endColorstr='#e44e52',GradientType=1 ); /* IE6-9 */
}

.price{
  color:#bab2b5;
  font-size:26px;
  font-weight: bold;
  padding-top:20px;
}
.info h6{
  font-family:'raleway';
}
.new {
  background:green;
  width:50px;
  color:#fff;
  font-size:12px;
  font-weight: bold;
  text-align:center;
}


/*-----------------------------------
 Shopping Cart Section
-----------------------------------*/

.shopping_container{
  margin-top:50px;
  background: -moz-linear-gradient(left, #ffffff 0%, #ADACB1 100%);  FF3.6-15 
  background: -webkit-linear-gradient(left, #ffffff 0%,#ADACB1 100%);  Chrome10-25,Safari5.1-6 
  background: linear-gradient(to right, #ffffff 0%,#ADACB1 100%);  W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#741d51', endColorstr='#e44e52',GradientType=1 ); /* IE6-9 */

}

/* Product Description */
.description {
  padding-top: 10px;
  margin-right: 60px;
  width: 115px;
}

.description span {
  display: block;
  font-size: 1em;
  color: #43484D;
  font-weight: 400;
}

.description span:first-child {
  margin-bottom: 5px;
}
.description span:last-child {
  font-weight: 300;
  margin-top: 8px;
  color: #86939E;
}

#shopping-cart {
  height: auto;
  display: flex;
  flex-direction: column;
  padding:10px;
  
}

.title {
  border-bottom: 1px solid #E1E8EE;
  padding: 20px 30px;
  color: #123c69;
  font-size: 18px;
  font-weight: 400;
}

.product {
  padding: 20px 30px;
  height: 120px;
  display: flex;
  flex-wrap: nowrap;
}

.product:last-child{
  border-bottom:1px solid #ccc;
}

.buttons {
  position: relative;
  padding-top: 30px;
  margin-right: 60px;
}

.delete-btn {
  display: inline-block;
  cursor: pointer;
  width: 18px;
  height: 17px;
  margin-right: 20px;
}


/* Product Quantity */
.quantity {
  padding-top: 20px;
  margin-right: 60px;
}
.quantity input {
  -webkit-appearance: none;
  border: none;
  text-align: center;
  width: 32px;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
}

button[class*=qtyBtn] {
  /*width: 30px;*/
  /*height: 30px;*/
  background-color: #E1E8EE;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
.minus-btn img {
  margin-bottom: 3px;
}
.plus-btn img {
  margin-top: 2px;
}
button:focus,
input:focus {
  outline:0;
}

/* Total Price */

.checkOut-remove{
  padding-right:10px;
  border-right:1px solid grey;
}
.total-price {
  width: 83px;
  padding-top: 27px;
  text-align: center;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
}
.total {
  float:right;
  margin-top:20px;
  text-align: right;
}
.total p:last-child {
  font-weight:bold;
  font-size:22px;
}
.btn-primary {
  display:block;
  padding:10px;
  margin:30px 0 15px 0;
  border:1px solid #123c69;
  font-weight: bold;
  background:#eee2dc;
  color:#123c69;
  opacity:0.65;
}
.btn-primary:hover{
  opacity:1;
  background:#eee2dc;
  outline:none;
  border:1px solid #123c69;
  color:#123c69;

}

#remove-all {
  background-color:transparent;
  color:#000;
  opacity:0.6;
  margin-top:40px;
  text-transform: uppercase;
}
#remove-all:hover {
  opacity:1;
}
#remove-all i {
  font-size:0.8em;
}
.cart {
  background:transparent;
  font-weight:bold;
  color:#000;
  padding:10px;
  border:1px solid #000;
  border-radius:10px;
  font-size:15px;
  margin-left:20px;
  margin-bottom:10px;
  opacity:0.7;
  font-family:'raleway';
}
.cart:hover{
  opacity:1;
}


/* Form  */
#form{
  padding:10px;
}
label{
  margin:3px 10px 3px 5px;
}
.form-control{
  background:rgba(0,0,0,0.1);
  outline:none;
  }
.form-control:focus{
  background:rgba(0,0,0,0);
  color:#123c69;
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.form-control input{
  margin-left:10px;
}
/*-----------------------------------
    Order Confirmation Page
-----------------------------------*/

.orderInfo{
  min-height:600px;
  margin-top:60px;
  margin-bottom:20px;
  background-image:url(../images/mail.png);
  background-size:150px 120px;
  background-repeat:no-repeat;
  background-position:50% 30%;
}
.orderInfo h1{
  text-align:center;
  padding-top:60px;
}
.orderInfo p {
  text-align: center;
  margin-top:5px;
}
.orderInfo p:first-of-type  {
  margin-top:160px;
}
.orderInfo button{
  display:block;
  margin:50px auto;
}
.centered{
  padding-top:10px;
  margin:0 auto;
}

.confirmImage{
  
  height:50px;
  width:50px;
}
.btn-sm{
  display:table;
  margin:20px auto;
  padding:10px;
  font-size:1.2em;

}


/*-----------------------------------
           Footer
-----------------------------------*/


.footer-basic-centered{
  background-color: #e3e2df;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  font: normal 18px sans-serif;
  padding: 45px;
  margin-top: 210px;
}

.footer-basic-centered .footer-motto{
  color:  #123c69;
  font-size: 24px;
  margin: 0;
}

.footer-basic-centered .footer-name{
  color:  #8f9296;
  font-size: 14px;
  margin: 0;
}

.footer-basic-centered .footer-links{
  list-style: none;
  font-weight: bold;
  color:  #123c69;
  padding: 35px 0 23px;
  margin: 0;
}

.footer-basic-centered .footer-links a{
  display:inline-block;
  text-decoration: none;
  color: inherit;
}




/*-----------------------------------
           Media Queries
-----------------------------------*/



/* Responsive */
@media (max-width: 800px) {
  .shopping-cart {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  .item {
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
  }
  .cartImage img {
    width: 50%;
  }
  .cartImage,
  .quantity,
  .description {
    width: 100%;
    text-align: center;
    margin: 6px 0;
  }
  .buttons {
    margin-right: 20px;
  }
  #image {
    width:120px;
    height:80px;
  }
}
/*-----------------------------------
 Small devices (tablets, 768px and up)
-----------------------------------*/
@media (max-width: 480px){
  .buttons{
    margin:0;
  }

  #image{
    width:0;
    height:0;
  }
  .cartImage{
    padding:0;
    width:0%;
    margin:0;
  }
  .footer-basic-centered{
    margin-top:10px;
  }
}
@media (min-width: 768px) {

  .page-header {
    text-align: left;
  }

  .page-header small {
    display: block;
  }

  .shopping-cart {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  .item {
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
  }
  .image img {
    width: 50%;
  }
  .image,
  .quantity,
  .description {
    width: 100%;
    text-align: center;
    margin: 6px 0;
  }
  .buttons{
    margin-right:5px;
  }


}


/*-----------------------------------
           Animation
-----------------------------------*/

@-webkit-keyframes slideDown {
    0%, 100% { -webkit-transform: translateY(-50px); }
    10%, 90% { -webkit-transform: translateY(0px); }

}
@-moz-keyframes slideDown {
    0%, 100% { -moz-transform: translateY(-50px); }
    10%, 90% { -moz-transform: translateY(0px); }
}